.Titlele{
    position: absolute;
    width: 780px;
    left: 21%;
    right: 15.19%;
    top: 158%;
    bottom: 75.12%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    
    color: #615E5E;    

}

.Img{
    position: absolute;
width: 116px;
height: 89px;
left: 160px;
top: 955px;



}

.Img2{
    position: absolute;
width: 116px;
height: 89px;
left: 1005px;
top: 1145px;

}
