@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

.gambarr {
  position: absolute;
  width: 1350.09px;
  height: 800.47px;
  left: 1px;
  top: 3000px;
}

.kegiatan {
  position: absolute;
  width: 561px;
  height: 54px;
  left: 388px;
  top: 3150px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 50px;
  letter-spacing: 0.05em;
  color: #615e5e;
}
