.Card{
    position: absolute;
width: 350px;
height: 400px;
left: 290px;
top: 1500px;

background: white;
box-shadow: 0px 0px 60px rgba(28, 58, 67, 0.07);
border-radius: 0px;

}

.Card2{
    position: absolute;
    width: 350px;
    height: 400px;
    left: 700px;
    top: 1575px;
    
    background-color: #FFFFFF;
    box-shadow: 0px 0px 60px rgba(28, 58, 67, 0.07);
    border-radius: 0px; 
}

.VISI{
    position: absolute;
width: 100px;
height: 49px;
left: 130px;
top: 35px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 40px;
color: #6ECD7B;

}

.Title{
    position: absolute;
width: 185px;
height: 222px;
left: 80px;
top: 135px;

font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
text-align: center;

color: #615E5E;

}

.Imgg{
    position: absolute;
width: 991.09px;
height: 560.47px;
left: 180px;
top: 1490px;
}

.title{
    position: absolute;
    width: 272px;
    height: 295px;
    left: 50px;
    top: 100px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    letter-spacing: 0.05em;
    
   
}